@font-face {
    font-family:"Iranyekan" ;
    src: url("./font2/Qs_Iranyekan\ bold.ttf");
    }
    
    
        body {
            font-family: 'Iranyekan', Arial, sans-serif;
            margin: 0px;
            padding: 0px;
        }
    
    ul a {
    
     padding: 5px;
    
    }
    
    a {
        text-decoration: none;
    }
    
    .letter {
    
       
      font-family: 'Iranyekan', Arial, sans-serif;
       padding-left: 20px;
    
    }
    
    .span1 {
    
        color: rgba(58,58,58,0.7);
        font-weight: 500;
        padding-left: 0px;
        font-size: 16px ;
    
        position:relative;
        top: -15px; 
    
    }
    
      .phone-icon {
       font-family: 'Iranyekan', Arial, sans-serif;
       padding-left:15px;
       position: relative;
       top: -10px;
    
    }
    
    .span2 {
    
        padding-left:8px ;
        position: relative ;
        top: -15px;
        color: rgba(58,58,58,0.7);
        font-weight: 500;
        
    }
    
    .headerlink {
    display: flex;
    justify-content:space-between ;
    }
    .navbar-link {
    display: none;
    }
    .left-link {
        position: relative;
        left: 83px;
        top: -5px;
    }
    .right-link {
    margin-top: 13px;
    margin-right: 117px;
    }
    .my-video {
    display:flex;
    justify-content:flex-start ;
    margin-top:0px ;
    position: relative;
    width: 100%;
    margin: 0px 0px 0px 0px ;
    top:-60px;
    border: none;
    outline: none;
    overflow:hidden;
    }
    .header2 {
      display: flex;
      justify-content: flex-start;
      background-color: #79A342;
      direction: rtl;
      text-align: center;
      max-width:962px ;
      height: 70px;
      position:relative ;
      top: -28px;
      margin-right: 600px;
      z-index: 1;
    }
    .header2 a {
    z-index:1 ;
    padding-left: 30px;
    font-size: 16px;
    color: #FFFFFFD9;
    line-height:70px ;
    position: relative;
    left: -34px;
    }
    .header2 ul {
    z-index:1 ;
    align-self: flex-start;
    font-size: 16px;
    color: #FFFFFFD9;
    line-height:70px ;
    position: relative;
    background-color:#79A342 ;
    top: -17px;
    width: 962px;
    }
    .box  {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr ;
         direction: rtl;
         background-color: #ffffff;
         border-radius: 20px;
         max-width:1480px ;
         height:350.45px ;
         position: relative;
         bottom:385px ;
         padding-top: 30px;
         margin-top: -85px;
         margin-left: 150px;   
         margin-right: 140px;
    }
    
    .box img {
    
      padding-right: 55px;    
      position: relative;
      overflow: hidden;
    
    }
    
    .img1 {
       
       height: 100px;
       overflow: hidden;;
    }
    
    .spans {
    margin-left: 27px;  
    padding-right: 30px;
    text-align: center;
    position: relative;
    top: 28px;
    }
    
    .span3 {
    color: #aaaaaa;
    word-break: normal;
    font-size:16px ;
    }
    
    .span4 {
    color: #aaaaaa;
    word-break: normal;
    font-size:16px ;
    }
    
    .button {
      text-align: center;
      position: relative; 
      margin-top:30px ;
    }
    
    .tag1  {
    background-color: #79A342;
    color: #ffffff;
    padding: 8px 32px 8px 0px ;
    padding-left: 32px;
    border-radius: 30px;
    }
    
    .tag2 {
    color: #79A342;
    font-size: 15px;
    padding: 8px 16px 8px 0px ;
    padding-left: 0px;
    border-radius: 30px;
    border:1px solid #79A342 ;
    
    
    }
    
    .center-images {
    position: relative;
    bottom:350px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    }
    
    .span6{
    
    border-radius: 30px ;
    
    padding: 8px 12px 8px 5px ;
    padding-left: 32px;
    
    
    }
    
    .img-background {
    display: flex;
    justify-content: center;  
    position: relative;
    bottom: 300px;
    overflow: hidden;
    }
    
    .cz_shape_1 {
      z-index: 1;
      background-color: #79a342;
      width: 25px;
      height: 17px;
      transform: skew(-45deg) rotate(45deg) translate(-50%);
    }
    
    .te {
      display:flex ;
      justify-content: center;
    }
    
    .content-background {
      position: relative;
      bottom: 950px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr ;
    }
    
    .form {
    position: relative;
    bottom: 1200px;
    right:30px ;
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    margin-left: 20px;
    margin-right:20px ;
    
    }
    
    .form1 {
     width: 340px ; 
     height: 310px;
     background-color:#79A342;
     text-align: center;
    
    }
    
    .span7 {
     
      position: relative;
      top: 50px;
    
    }
    
    
    .margin-images {
    
      display: grid;
      
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      background-color: white;
      width: 1100px;
      align-items: center;
      overflow: hidden;
      height: 308px;
     
      border: 1px solid #FFFFFFD9;
      filter : drop-shadow(1px 1px 1px  rgb(202, 197, 197)) ;
        
    }
    
    .mimages {
    
    padding-right: 40px;
    overflow: hidden;
    
    }
    
    .content-group {
      
    direction: rtl;
    position: relative;
    right: 100px;
    top: -1070px;
    margin-left: 100px;
    display: flex;
    justify-content:center;
    
    
    }
    
    .content-form {
     
     width: 1900px;
     min-height: 50px;
     line-height:175px ;
     padding-right: 55px;
     background-color: #1c1c1c;
     font-size: 44px;
     color:  #ffffff;
     
    }
    
    .content-img {
      height: 100%;
      width:296px ;
      margin-left: 30px;
      
    }
    
    .footer1 {
    background-color: #2f2f2f;
    max-width: 1520px;
    height: 600px;
    position: relative;
    margin-top: -860px;
    z-index: 0;
    overflow: hidden;
    }
    
    .small-logo {
    
    position: relative;
    left: 350px;
    
    }
    
    .footer1-logo {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 1;
    max-width: 579.4px;
    height: 793.767px ;
    background-color: #000000;
    overflow:hidden;
    position: relative;
    float: right;
    margin-right: 100px;
    margin-top:-720px  ;
    }
    
    .footer1-logo1{
    
    z-index: 1;
    
    position: relative;
    top: 65px;
    left: 70px;
    }
    
    
    .footer1-logo2 {
      position: relative;
      right: 160px;
      top: 64px;
      padding: 100px 60px 450px ;
      margin: -280px -15px -230px 100px;
      border-radius: 5px;  
    }
    
    
    .footer-span {
      color: rgba(255,255,255,0.75);
      font-size: 16px ;
      width: 480px ;
      text-align: right;
      position: relative;
      left: 40px;
      line-height: 40px;
      
    }
    
    .footer-span1 {
    color:#ffffff;
    font-size: 18px;
    z-index: 1;
    position: relative;
    left: 325px;
    bottom: 250px;
    }
    
    .header_line_3 {
      margin-left: 30px;
      margin-top: 20px;
      background-color: rgba(58,58,58,0.2);
      width: 1px;
      transform: rotate(20deg);
    }
    
    .footer2 {
      margin-left: 100px;
      display: flex;
      justify-content: flex-start;
      
    }
    
    .span8 {
    font-size: 13.5px;
    margin-left: 20px;
    margin-top: 25px;
    color:rgba(58,58,58,0.85);
    }
    
    .video-text {
      position: relative; 
      bottom: 630px;
      overflow: hidden;
    }
    
    .h1-1 {
      font-size: 80px;
      white-space: nowrap; 
      text-align: center; 
      line-height: 90px; 
      letter-spacing: -4px; 
      font-weight: 800px;
    }
    
    .h1-2 {
    
      line-height: 25px;
      font-weight: 400;
      font-size: 20px;
    }
    
    @media screen and (max-width:1117px) {
    
      .header2 {
        width: 70%;
      }
     .left-link {
      position: relative;
      left: -30px;
     }
     .right-link {
      position: relative;
      right: -80px;
     }
     .button {
      margin-top: 60px;
     }
     .spans {
      width: 110%;
      margin-right: -50px;
     }
     .form {
      margin-right: -30px;
     }
     .content-group {
      margin-right: -60px;
     }
     .content-form{
      line-height: 100px;
     }
     .footer2 {
     width: 100%;
     position: relative;
     right: 100px;
     overflow: hidden;
     }
    }
    
     @media screen and (max-width:892px) {
      .left-link {
      display: none;
      overflow: hidden;
       }
       .header2 {
        display: none;
       }
       .right-link {
       height: 130px;
       display: flex;
       width: 70%;
       margin-left: -200px;
       justify-content: flex-end ;
       }
       .navbar-link {
        cursor: pointer;
        display:flex ;
        justify-content: flex-start;
        margin-left: -212px;
        margin-top: 33px;
        height: 20px;
       }
    }
    @media screen and (max-width:790px) {
    
    .spans {
      width: 150%;
      margin-right: -130px;
    }
    .center-images {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .p-group {
    margin-top: -50px;
    }
    .content-group {
     position: relative;
     top: -1400px;
     right:70px ;
     flex-direction: column;
    }
    .content-form {
     max-width: 70%;
     text-align: center;
     justify-content: center;
     min-height: 200px;
     padding-left: 60px;
     margin-left: 20px;
    } 
    
    
    
    
    .footer1-logo {
      margin-right: 0px;
    }
    
    .h1-1 {
      font-size: 40px;
      line-height: 50px; 
    }
    
    .h1-2 {
     line-height: 70px;
     font-size: 14.75px;
    }
    
    .box {
    
     margin-top: 20px;
     
    }
    
    .te {
      margin-top: -40px;
    }
    
    .form {
    width: 100%;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    
    }
    .margin-i {
    
    width: 160px;
    
    }
    
    .margin-images {
      width: 80%;
      
      margin-top: -50px;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
    }
    
    .footer-span {
    
    width: 300px;
    margin-left: 200px;
    }
    .footer1 {
    margin-top: -1200px;
    }
    }
    @media screen  and (max-width:541px){
      
    .img1 {
      width: 120%;
      margin-right: 15px;
    }
    .spans {
      width: 180%;
    
    
    }
    }
    
    @media screen and (max-width:501px) {
      .h1-2 {
      font-size: 12px; 
      }
      .spans {
        margin-right: -140px;
        width: 210%;
      }
      .center-images {
        margin-top: 100px;
      }
      .button{
        margin-top: 80px;
        width: 110%;
        margin-right:-15px ;
      }
      .center-images {
       margin-left: 20px;
      }
      .p-group {
    
       margin-top: -110px;
    
      }
      .content-group {
       margin-left: 140px;
      }
      .footer1-logo1 {
       margin-left: 80px;
      }
    }
    
    @media screen and (max-width:416px) {
        .box{
       width: 92%;  
       position: relative;
       right: 132px;
    }
        .spans {
        width:80% ;
        margin-right:6px ;
        }
        .r-link {
    
           width: 180px;
        }
        .center-images {
        margin-right: 20px;
        }
    
        .p-group {
        
        margin-top: -120px;
    
        }
    
        .last-p {
         line-height: 80px;
        }
    
        .form {
    
          margin-left: 30px;
        }
    
        .form1 {
          width: 100%;
        }
    
       .margin-images {
        width: 100%;
       }
    
       .content-group  {
         width: 102.5%;
         margin-left: 59px;
       }
       .content-img {
        width: 100%;
       }
       
    
    }
    
    @media screen and (max-width:376px) {
    .p-group {
    margin-bottom: -65px;
    }
    .margin-i {
      width: 130px;
    }
    .form {
      margin-left: 30px;
    }
    .form1 {
    
      margin-right: -1px;
    }
    .content-group {
    margin-left: 65px;
    }
    .footer1-logo {
      margin-right: -2px;
    }
    .footer1-logo1 {
      margin-left: 170px;
    }
    .h1-2 {
      font-size: 11px;
    }
    }
    
    @media screen and (max-width:281px) {
    
    .my-video {
      width: 128.25%;
    }
    
    .video-text {
      width: 115%;
      margin-left: 17px;
    }
    .box {
      width: 117%;
      margin-left: 149px;
    }
    .button {
      height: 20px;  
    }
    .center-images {
      width: 112%;
    }
    
    .img-background {
    
      width: 128.5%;
    }
    .p-group {
      width: 125%;
      margin-left: 0px
    }
    .te {
      margin-left: 90px;
    }
    .third-p {
      margin-left: 7px;
    }
    .tag1 {
      margin-left: 30px;
    }
    .form {
      width: 127%;
    }
    .content-group {
      width: 130%;
    }
    .footer1-logo {
      
     width: 200%;
     position: relative;
     left:75px;
    }
    
    }